* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
input {
  border: none;
}
input:focus {
  outline: none;
}

.float--left {
  float: left;
}
.float--right {
  float: right;
}
.clearfix::after {
  content: '';
  clear: both;
}
.hidden {
  display: none;
}
.icon {
  cursor: pointer;
}
